<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单信息</title>

</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <form class="layui-form" action="" id="add_form">
                <input type="hidden" name="uid" value="1">
                <div class="layui-form-item">
                    <label class="layui-form-label">输入框</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required lay-verify="required" placeholder="请输入标题"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="submit" lay-filter="formDemo">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script>
    layui.use(['layer', 'form', 'jquery'], function () {
        var layer = layui.layer,
            form = layui.form;
        })
        $("#add_form").on('submit', function() {
            $.post('{:url("/order/showOrder")}', $(this).serialize(), function(res) {
                if(res.code == 200) {
                    layer.msg("添加成功",{time:1000, shade:0.1}, function() {
                        location.reload();
                    })
                } else {
                    layer.msg(res.msg, {shade:0.1});
                }
            })
            return false;
        });
</script>

</html>